services:
  # Дашборд сложного флага
  complex-flag-dashboard:
    build: .
    container_name: complex-flag-dashboard
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8504:8501"
    command: ["streamlit", "run", "dashboard.py", "--server.port=8501", "--server.address=0.0.0.0", "--server.enableCORS=false", "--server.enableXsrfProtection=false"]
    restart: unless-stopped

  # Фоновый сканер сложного флага
  complex-flag-worker:
    build: .
    container_name: complex-flag-worker
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "service.py"]
    restart: unless-stopped

  # Дашборд для разметки паттернов
  labeling-dashboard:
    build: .
    container_name: labeling-dashboard
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8505:8501"
    command: ["streamlit", "run", "neural_network/labeling_dashboard.py", "--server.port=8501", "--server.address=0.0.0.0", "--server.enableCORS=false", "--server.enableXsrfProtection=false"]
    restart: unless-stopped
